<!DOCTYPE html>
<html>
  <head>
    <title>server</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'People',people_path %>
    <%= link_to 'New',people_path+"/new" %>
    <%= yield %>
  </body>
</html>
